name: "Tests"
on: [push]
permissions:
  contents: read

jobs:
  unit:
    name: npm test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      - run: npm ci
      - run: npm test
  integ:
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
          - macos-latest # M1
          - macos-13 # Intel
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    steps:
        # Step 1
      - name: Git Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        # Step 2
      - name: Setup Cloud Formation Linter with Latest Version
        uses: ./
        # Step 3
      - name: Print the Cloud Formation Linter Version & run Linter.
        run: |
          cfn-lint --version
          cfn-lint -t ./examples/template.yml
        # Step 4
      - name: Setup Cloud Formation Linter with Specific Version
        uses: ./
        with:
          version: "[sarif]>=1.0"
        # Step 5
      - name: Print the Cloud Formation Linter Version & run Linter.
        run: |
          cfn-lint --version
          cfn-lint -t ./examples/template.yml
        # Step 6
      ### Testing specifying a version and command
      - name: Testing with CFN Lint Version & Command
        uses: ./
        with:
          command: cfn-lint -t ./examples/template.yml
